@import 'variables';
@import 'fonts';

body {
  color: #eee;
  font-family:Monospace;
  font-size:13px;
  text-align:center;

  background-color: #000;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}

a {
  color: #0080ff;
}
