@import 'variables';
@import 'fonts';

body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
}

#render {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#game {
  position: fixed;
  // top: 50%;
  // left: 50%;
  right: 0;
  bottom: 0;
  width: 50vw;
}
