@import 'variables';
@import 'fonts';

body {
  background-color: white;
  margin: 0;
  overflow: hidden;
}

#render {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
